@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Inter fonts */
@import url('https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap');

/* ----------------------------------------General---------------------------------------- */

body {
    font-family: 'Inter', sans-serif;
    color: #2E2E2E;
    font-weight: 500;
    text-align: center;
}
h2 {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}
h3 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-icon {}
.pade-content {}

/* ----------------------------------------Header---------------------------------------- */

.header__container {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 44px;
}

/* ----------------------------------------Main---------------------------------------- */

/* --------------------page-decor-------------------- */
.page-decor,
.page-icon,
.pade-content {
    margin-bottom: 80px;
}
.decor {}

.decor__container,
.icon__container,
.content__container {
    background-color: #F4F7FF;
    border-radius: 10px;
}
.decor__design-elements {
    padding-top: 20px;
}
.decor__design-elements:last-child {
    padding-bottom: 40px;
}
.decor__design-elements {}

.decor__design-elements img {
    display: inline-flex;
    max-width: 400px;
    max-height: 400px;
}

/* --------------------page-icon-------------------- */
.icon {}
.icon__container {
    background-color: #c5d5fe;
}

.icon__elements img {
    min-width: 50px;
    height: 50px;
    padding: 2px;
}
.icon__elements:last-child {
    padding-bottom: 40px;
}
.icon__header {}
.icon__services {}
.icon__clients {}
.icon__contacts{}
.icon__footer {}

/* --------------------page-content-------------------- */
.content {}
.content__container {}
.content__elements {}

.content__elements:last-child {
    padding-bottom: 40px;
}
.content__why img {
    max-width: 270px;
    max-height: 320px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.content__portfolio img {
    max-width: 370px;
    max-height: 300px;
}
.content__part-one {
    margin-bottom: 30px;
}
.two,
.three {
    margin-left: 20px;
}

.content__part-two {}

.content__team img{
    max-width: 270px;
    max-height: 330px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.content__testimonials {}
.content__testimonials img {
    border-radius: 50%;
}
.content__blogs img {
    max-width: 370px;
    max-height: 220px;
}

/* ----------------------------------------Footer---------------------------------------- */

.footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
}