@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');

/* ----------------------------------------General---------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #9C9C9C;
}
[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
img {
    max-width: 100%;
}


/* ----------------------------------------page__project---------------------------------------- */

.page__project {
}
.project-block {
    padding-top: 100px;
    padding-bottom: 100px;
}
.project-block__container {
}
.project-block__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.project-block__block:not(:last-child) {
    margin-bottom: 82px;
}
.project-block__overview {
    display: flex;
    flex-direction: column;
}
.overview-block {

}
.overview-block__title {
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4; /* 34px */
    color: #333333;
}
.title:not(:last-child) {
    margin-bottom: 24px;
}
.overview-block__text {
    margin-bottom: 30px;
    flex-grow: 1;
}
.text {
    line-height: 1.6; /* or 29px */
}
.overview-block__info {
    line-height: 1.6; /* or 29px */
    display: flex;
    column-gap: 80px;
}
.overview-block__data {
}
.overview-block__inform {
}
.project-block__design {
}
.design-block {
}
.design-block__title {
}
.design-block__text {
}
.design-block__text p:not(:last-child) {
    margin-bottom: 30px;
}
.project-block__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.pictures-block {}

.pictures-block__picture {
    position: relative;
    display: block;
    padding-bottom: 87.842466%;
}
.pictures-block__picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pictures-block__picture:nth-child(3n+3) {
    grid-column: span 2;
    padding-bottom: 42.75%;
}

@media (max-width: 926px) {
    .project-block__pictures {
        gap: 18px;
    }
}
@media (max-width: 767.98px) {
    .project-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title {
        font-size: 18px;
        line-height: 1.3;
    }
    .title:not(:last-child) {
        margin-bottom: 18px;
    }
    .overview-block__text {
        margin-bottom: 18px;
    }
    .design-block__text p:not(:last-child) {
        margin-bottom: 23px;
    }
    .overview-block__info {
        justify-content: space-between;
        column-gap: 15px;
    }
    .project-block__block p,
    .overview-block__info div {
        font-size: 14px;
        line-height: 1.4;
    }
    .project-block__block:not(:last-child) {
        margin-bottom: 48px;
    }
}
@media (max-width: 500px) {
    .project-block__block {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .project-block__pictures {
        grid-template-columns: 1fr;
    }
    .pictures-block__picture:nth-child(3n+3) {
        grid-column: span 1;
    }
}

/* ----------------------------------------page__project-buttons---------------------------------------- */

.project-block__buttons {
    margin-top: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}
.project-block__buttons a {
    text-transform: uppercase;
    font-size: 17px;
    padding: 13px 18px;
    background-color: #566093;
    border-radius: 5px;
    color: #FAFAFA;
    transition: all 0.4s ease 0s;
    text-align: center;
}
.project-block__buttons a:hover{
    background-color: #8088AE;
}
.project-block__buttons a:active {
    background-color: #FAFAFA;
    color: #2C3878;
    border: 1px solid #2C3878;
}
.project-block__button-one {}
.project-block__button-two {}
.project-block__button-three {}

@media (max-width: 435px) {
    .project-block__buttons {
        flex-direction: column;
    }
    
    
}