@import url("reset.css");

/* ----------------------------------------Poppins fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap');


/* ----------------------------------------General---------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78; /* 25px */
    color: #6C757D;
    margin: 0 auto;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    padding-left: 212px;
    padding-top: 40px;
    padding-right: 212px;
}

.images {
    margin-top: 80px;
    font-size: 0;
}

.image {}

img {
    overflow: clip;
}

h1, h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6; /* 40px */
    color: #212529;
}
/* ----------------------------------------Header---------------------------------------- */

.header {
    max-width: 816px;
    margin: 0 auto;
}

.header__title {
    display: inline-block;
    padding-top: 15px;
    max-width: 400px;
}

/* ----------------------------------------Main---------------------------------------- */

.main {}
.main__container {}

.content-part01 {}

.text-01 {}
.text-02 {}
.text-03 {}

.image-one {
    max-width: 100%;
    margin-top: 80px;
}

.content-part02 {}

.title{
    max-width: 590px;
    margin-left: 212px;
    margin-top: 80px;
}
.text-04 {
}
.text-05 {}

.image-two {}
.image-three {
    padding-left: 30px;
}

/* ----------------------------------------Footer---------------------------------------- */

.footer {}
.footer__container {
    margin-top: 80px;
    margin-bottom: 60px;
}
.text-06 {}

.text-07 {
    display: none;
}
