@import url("reset.css");

/* ----------------------------------------Poppins fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap');


/* ----------------------------------------General---------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78; /* 25px */
    color: #6C757D;
    margin: 0 auto;
}

.content {
    max-width: 816px;
}
.content p {
    padding-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6; /* 40px */
    color: #212529;
}

.image {
    margin: 0px auto;
    max-width: 1240px;
}

/* ----------------------------------------Header---------------------------------------- */

.header {}

/* ----------------------------------------Main---------------------------------------- */

.main {}
.main__content {}

.content-part01 {
    margin: 0px auto 0px auto;
    padding-bottom: 40px;
}

.title-one {
    max-width: 400px;
    padding: 40px 0;
}

.text {}

.image-one {
    width: 100%;
}
.image-one img {
    width: 1240px;
    height: 400px;
}
.content-part02 {
    margin: 0px auto 0px auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.title-two {
    max-width: 590px;
    padding: 0px 0px 40px 0px;
}
.image-two {
    width: 100%;
    font-size: 0;
}
.image-two img {
    width: 605px;
    height: 400px;
}
.lake {
    margin-right: 15px;
}
.picture {
    margin-left: 15px;
}

.content-part03 {
    margin: 0px auto 0px auto;
    padding-top: 80px;
}

/* ----------------------------------------Footer---------------------------------------- */
.footer {}


