@import url("reset.css");

/* ----------------------------------------Poppins fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap');


/* ----------------------------------------General---------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78; /* 25px */
    color: #6C757D;
    margin: 0 auto;
}

.content {
    max-width: 816px;
    margin: 80px auto;
}
.content p {
    margin-top: 40px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6; /* 40px */
    color: #212529;
    margin: 40px 0;
}

.image {
    margin: 0px auto;
    max-width: 1240px;
}

/* ----------------------------------------Header---------------------------------------- */

.header {}

/* ----------------------------------------Main---------------------------------------- */

.main {}
.main__content {}

.content-part01 {
    margin-bottom: 80px;
}

.title-one {
    max-width: 400px;
}

.text {}
.image-one {}
.content-part02 {}

.title-two {
    max-width: 590px;
}
.image-two {
    font-size:0
}
.lake {
    margin-right: 15px;
}
.picture {
    margin-left: 15px;
}

.content-part03 {}

/* ----------------------------------------Footer---------------------------------------- */
.footer {}
