@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,900&display=swap');

/* ----------------------------------------General---------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    color: #637381;
    font-weight: 500;
    background-color: #eedcff;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.column {
    background-color: #F6DDDF;
    border: 4px solid #CE9FFC;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrapper {}
.page {}

.page__main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-block__section {}

.main-block__container {
    padding: 60px 60px 80px 60px;
    background-color: #f3e8fe;
    border-radius: 5px;
    border: 2px solid #CE9FFC;
}
.main-block__title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.block-one,
.block-two,
.block-three,
.block-four,
.block-five,
.block-seven,
.block-eight,
.block-ten,
.block-eleven {
    border: 5px solid #FFBEED;
    margin-bottom: 30px;
}

.block-one {}
.block-one__column {}

.block-one__item,
.block-two__item,
.block-three__item,
.block-four__item,
.block-five__item, 
.block-six__item,
.block-seven__item,
.block-eight__item,
.block-nine__item,
.block-ten__item,
.block-eleven__item,
.block-twelve__item {
    text-align: center;
}

.block-two {
    display: flex;
}
.block-two__column {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-content: center;
    flex-wrap: wrap;
}

.block-two__item {}

.main-block__section-one {
    display: flex;
    margin-bottom: 30px;
}
.block-three {
    display: inline-flex;
}
.block-three__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-three__item {}

.block-four {
    display: flex;
    flex-wrap: nowrap;
    width: 160px;
    margin-left: 20px;
}
.block-four__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-five {
    display: flex;
    flex-wrap: wrap;
    width: 155px;
    margin-left: 80px;
}
.block-five__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-five__item {}

.block-six {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 295px;
    margin-left: 20px;
    border: 5px solid #FFBEED;
}
.block-six__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-six__item {}
.main-block__section {}

.block-seven {
    display: flex;
    flex-direction: row-reverse;
}
.block-seven__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-seven__item {}

.block-eight {
    display: flex;
    flex-direction: column-reverse;
    
}
.block-eight__column {
    padding-left: 10px;
    padding-right: 10px;
}

.block-eight__item {}

.block-nine {
    margin-bottom: 30px;
    border: 5px solid #FFBEED;
    display: flex;
    justify-content: center;
}
.block-nine__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-nine__item {}
.main-block__section {}

.block-ten {
    display: flex;
    justify-content: space-between;
}
.block-ten__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.block-ten__item {}

.block-eleven {
    display: flex;
    justify-content: space-around;
}
.block-eleven__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}
.block-eleven__item {}

.block-twelve {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid #FFBEED;
}
.block-twelve__column {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.button-page__container {
    padding-bottom: 80px;
}
.button-page__button {
    margin: 0 auto;
    padding: 15px 20px 15px 20px;
    max-width: 250px;
    text-align: center;
    justify-content:center;
    align-items: center;
    min-height: 50px;
    position: relative;
    background-color: #CE9FFC;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: block;
    top: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
.button-page__button:hover {
    max-width: 320px;
    padding: 15px 30px;
    background-color: #7367F0;
}
span {
    text-transform: uppercase;
}