@import url("reset.css");

/* ----------------------------------------Fonts---------------------------------------- */

/* Poppins fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,900&display=swap');

/* ----------------------------------------General---------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
    font-weight: 300;
    font-size: 12px;
    color: #495057;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------Navigation---------------------------------------- */

.page {}
.main-block {}
.main-block__container {}

.page__main {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-block__navigation {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 44px;
}
.main-block__items-one {}
.one-item {}

.one-item__list {
    display: flex;
    flex-wrap: wrap;
}
.one-item__link-one {
    margin-right: 7px;
}
.one-item__link-two {
}
.main-block__item-two {
    display: flex;
}

.two-item {}

.two-item__list {
    display: flex;
    flex-wrap: wrap;
}
.two-item__link-one {
    margin-right: 20px;
}
.two-item__link-two {
    color: rgba(73, 80, 87, 0.5);
}

/* ----------------------------------------Galery---------------------------------------- */
img {
    vertical-align: top;
    border-radius: 3px;
    max-width: 393px;
    max-height: 250px;
}

.main-block__galery {
    margin-bottom: 60px;
}
.galery-block__items-one,
.galery-block__items-two {
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
}
.galery-block__items-one {
    margin-bottom: 45px;
}
.galery-block__items-two {}

.galery-block__item-one {}
.galery-block__item-two {}
.galery-block__item-three {}

.galery-block__image {
    display: block;
    position: relative;
    vertical-align: top;
    padding-bottom: 30px;
}

.galery-block__link {}

.galery-block__category {
    position: absolute; 
    top: 30px;
    right: 30px;
    background: rgba(33, 37, 41, 0.3);
    border-radius: 3px;
    padding: 3px 12px 3px 12px;
    font-weight: 700;
    font-size: 8px;
    line-height: 2.5; /* 20px */
    text-align: center;
    color: #F8F9FA;
    text-transform: uppercase;
}
.galery-block__category:hover {
    text-decoration: underline;
}
.galery-block__data {
    line-height: 1.67; /* 20px */
    margin-bottom: 15px;
}
.galery-block__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6; /* 40px */
    color: #212529;
    margin-bottom: 15px;
}
.galery-block__text {
    line-height: 1.67; /* 20px */
    margin-bottom: 15px;
}
.galery-block__autor {
    border-top: 1px solid #E5E5E5;
    padding-top: 15px;
}

.button-block {
    display: flex;
    justify-content: center;
}
.button-block__button {
    padding: 7px 50px 7px 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.08; /* 25px */
    text-align: center;
    color: #F8F9FA;
    background-color: #212529;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button-block__button:hover {
    background-color: #484b4e;
}
.button-block__button:active {
    background-color: #fff;
    border: 1.5px solid #212529;
    color: #212529;
}
